@charset "utf-8";

/* 초기화 속성 ================================================================================*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 버튼 =================================================================================== */

.bt_button  {
    float: right;
    margin-top: 30px;
    
}

button {
    background: rgb(210, 210, 210);
    border-color: rgb(164, 164, 164);
    min-width: 90px;
    padding:  5px 20px;
    border-radius: 10px;
    font-size: 1.6rem;
    box-shadow: 0px 2px 3px rgb(168, 168, 168);
}

/* board page ===================================================================================*/


.board_page {
    /* display: inline-block; */
    text-align: center;
    /* display: flex; */
    justify-content: center;
}

.board_page a {
    width: 20px;
    height: 20px;
    /* border, padding 을 포함해서 32px, 32px */
    box-sizing: border-box;
    line-height: 20px;
}

.board_page a:hover {
    text-decoration: underline;
}

.board_page a.bt {
    font-size: 1.8rem;
    letter-spacing: -1px;
}

.board_page a.num {
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

/* index.html ===================================================================================*/

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.board_list {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5rem;
    /* rem : html기준*/
    /* em : 부모기준 */
}

.board_list caption {
    padding: 30px;
}

.board_list th, td {
    border-bottom: 1px solid #444;
    padding: 10px;
    text-align: center;
}

/* td 태그면서 타이틀 클래스를 가진 */
.board_list td.title > a:hover {
    text-decoration: underline;
}

/* 디테일 */

td.title {
    padding: 0 50px;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    text-align: left;
    padding-left: 20px;
}







/* 반응형 ===================================================================================*/


/* 768~1000px */

@media all and (max-width: 1000px) {
    .wrap {
        width: 100vw;
    }
}

/* 0~767px */

@media all and (max-width: 767px) {
    .wrap {
        width: 95vw;
    }
    .board_list th:nth-of-type(1),
    .board_list td:nth-of-type(1){
        display: none;
    }
    .board_list th:nth-of-type(3),
    .board_list td:nth-of-type(3){
        display: none;
    } 
    .board_list th:nth-of-type(4),
    .board_list td:nth-of-type(4){
        display: none;
    }    

    /* write 반응형 */

    .board_wrap {
        width: 100vw;
    }

    .board_write .title dt {
        width: 70px;
    }
    .board_write .info dt {
        width: 70px;
        margin-bottom: 10px;
    }
    .board_write .title input[type="text"] {
        width: 100%;
    }
    .board_write .info input[type="text"],
    .board_write .info input[type="text"] {
        width: 80%;
    }

    .board .info dl {
        padding: 0 10px;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1rem;
        display: inline-block;
    }

    .board_view .info dl::before {
        display: none;
    }
    .board_view .info dl:nth-of-type(1),
    .board_view .info dl:nth-of-type(3) {
        display: none;
    }


}