section .con {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.slider {
    height: 480px;
}

.slider__content {
    background: skyblue;
}

.youtube__content {
    height: 605px;
    background: purple;
}

.sns {
    height: 160px;
}

.sns__content {
    background: blue;
}

.sns__content >ul {
    display: flex;
    flex-direction: row;
}

.sns__content >ul >li {
    flex: 1;
    /* width: 33.33%; 도 가능 */
    text-align: center;
}

.guide {
    height: 480px;
}

.guide__content {
    display: flex;
    flex-direction: column;
}

.guide__content > div {
    flex: 1;
    text-align: center;
}

.guide__content > .content__app {
    background: hotpink;
}

.guide__content > .content__delivery {
    background: brown
}

.store {
    height: 597px;
}

.store__content {
    background: green;
}

.store__content ul {
    overflow: hidden;
    /* ★ float 사용 시 부모태그에 overflow: hidden 넣기 */

    width: 79.44%;
    /* 1144 / 1440 */

    margin: 0 auto;
}

.store__content ul li {
    float: left;
    /* ★ float 사용 시 부모태그에 overflow: hidden 넣기 */
    width: 33.33%;
    text-align: center;
}

.banner {
    height: 200px;
}

.banner__content {
    background: gray;
}

/* 767 ~ 1023px */

@media all and (min-width:767px) {
    .guide__content {
        flex-direction: row;
    }

    .store__content ul li {
        width: 16.66%;
    }
}

/* 1024px ~ */

@media all and (min-width:1024px) {

}